<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
.st-cw {overflow-y: visible;}
.st-cv {gap: 0.5rem;}
.st-bn {gap: 0.5rem;}
button, [type="button"] {padding:0.5rem;}
.css-q8sbsg p {font-size:1.1rem;font-weight:600}
.css-17b7mgn {width:100%;}
code { font-family: monospace!important;color:rgb(0, 200, 63);}
.css-1dp5vir { background-image: linear-gradient(90deg, rgb(9, 171, 59), #1c83e1);height: 0.2rem;}
.css-76z9jo { display: none;}
.css-uapcc7 { display: none;}
.css-19i1c { display: none;}
.css-k7vsyb a { display: none;}
.css-1629p8f a { display: none;}
.css-z5fcl4 {padding-top: 2rem;}
footer {visibility: hidden;}
ul.e1pxm3bq4.css-g9v7gr:nth-of-type(3) .e1pxm3bq3.css-v83eag {display: none;}
ul.e1pxm3bq4.css-g9v7gr:nth-of-type(4)  .e1pxm3bq3.css-v83eag {display: none;}
ul.e1pxm3bq4.css-g9v7gr:nth-of-type(5)  .e1pxm3bq3.css-v83eag {display: none;} 
ul.e1pxm3bq4.css-g9v7gr:nth-of-type(6)  .e1pxm3bq3.css-v83eag {display: none;} 
div.e1pxm3bq6.css-b2odz7:nth-of-type(1) {display: none;}
div.e1pxm3bq6.css-b2odz7:nth-of-type(2) {display: none;}
button[title="View fullscreen"]{visibility: hidden;}

</style>
